@model Entities.OrderModel

@{
    ViewBag.Title = "Radera order";
}
<div class="row">
    

    <h3>Är du säker på att du vill radera?</h3>
    <div>

        <table class="orderlist" style="margin-left:0px">
            <tr>
                <td>
                   Adress:
                </td>

                <td>
                    @Html.DisplayFor(model => model.Address.Street)
                    @Html.DisplayFor(model => model.Address.City)
                    @Html.DisplayFor(model => model.Address.ZipCode)
                </td>
            </tr>
            <tr>
                <td>
                   Kontakt uppgift:
                </td>

                <td>
                    @Html.DisplayFor(model => model.Contact.FirstName)
                    @Html.DisplayFor(model => model.Contact.LastName)
                </td>
            </tr>
            <tr>
                <td>
                    Kommentar:
                </td>

                <td>
                    @Html.DisplayFor(model => model.Comment)
                </td>
            </tr>

            <tr>
                <td>
                    Order datum:
                </td>

                <td>
                    @Html.DisplayFor(model => model.OrderDate)
                </td>
            </tr>
            <tr>
                <td>
                    Order nummer:
                </td>

                <td>
                    @Html.DisplayFor(model => model.OrderNumber)
                </td>
            </tr>
            <tr>


                <td>
                    Totallt summa:
                </td>

                <td>
                    @Html.DisplayFor(model => model.TotalPrice)
                </td>
            </tr>
            <tr>
                <td>
                    Leveranssätt:
                </td>

                <td>
                    @Html.DisplayFor(model => model.DeliveryType.Name)
                </td>
            </tr>
            <tr>
                <td>
                    Betalningssätt:
                </td>

                <td>
                    @Html.DisplayFor(model => model.PaymentType.Name)
                </td>
            </tr>
            
            </table>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="button" /> 
                         
                        </div>
                    }
</div>
    @Html.ActionLink("Tillbaka", "Index")
</div>