@model Entities.BookModel
           <div class="row">
    @using (Html.BeginForm())
    {

        <h3>Är du säker på att du vill radera boken?</h3>
        <div>
       
          
            <table class="orderlist" style="margin-left:0px">
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Title)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Title)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.ImagePath)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.ImagePath)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.ISBN)
                    </td>
                </tr>
                
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.PageNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.PageNumber)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.PublishingDate)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.PublishingDate)
                    </td>
                </tr>
                <tr>


                    <td>
                        @Html.DisplayNameFor(model => model.Weight)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Weight)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Price)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Price)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.QuantityInStock)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.QuantityInStock)
                    </td>
                </tr>
            </table>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Radera" class="button" />
                    
                </div>
            }
        </div>
    }
               @Html.ActionLink("Tillbaka", "Index")
</div>