@model IEnumerable<Entities.BookModel>

@{
    ViewBag.Title = "Ändra eller radera bok";
}



<table class="table orderlist ">
    <thead>
        <tr>
            <th>
                Titel
            </th>
            <th >
               Bild adress
            </th>
            <th>
                ISBN
            </th>
            
            
            <th>
                Utgiven
            </th>
            
            <th>
               Pris
            </th>
            <th>
                Format
            </th>
           
            <th>
               Finns i lager
            </th>
            <th>
                Förlag
            </th>
            <th>
                Ändringar
            </th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr >
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td >
                    <a href="@Html.DisplayFor(modelItem => item.ImagePath)"><img style="width:50%" src="@Html.DisplayFor(modelItem => item.ImagePath)"></a>
</td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                
               
                <td>
                    @Html.DisplayFor(modelItem => item.PublishingDate.Year)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Format.Name)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.Name)
                </td>
                <td>
                    @Html.ActionLink("Ändra", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Radera", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

</table>
