<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book OnClick</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    @{
        var cart = Session["Cart"] as BusinessLayer.ShoppingCartModel;

    }
    <div >
       
        @Html.ActionLink("Home", "Index", "Home",null, new { @class="logo" })
        
            
        
    </div>

    <nav class="top-bar custom " data-topbar>
      

                <ul class="title-area">

                    <li class="name">

                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                </ul>

                <section class="top-bar-section ">

                    <ul class="left">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Om Oss", "About", "Home")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                        <li class="divider"></li>
                        @using (Ajax.BeginForm("Search", "Home",
                            new AjaxOptions { UpdateTargetId = "divList", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, new { @style = "float:left;" }))
                        {
                            <li class="show-for-large-up">


                                <a href="#" data-dropdown="mega-menu-1" class="kategori" data-options="is_hover:true">Välj kategori</a>

                                <div id="mega-menu-1" data-dropdown-content class="large f-dropdown content row">
                                    <div class="large-4 columns">
                                        <ul>
                                            <li><label>KATEGORIER A-H</label></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Barnböcker" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Biografier & Memoarer" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Datorer & IT" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Deckare" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Djur & Natur" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Ekonomi & Juridik" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Familj & Hälsa" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Filosofi & Religion" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Geografiska områden" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Hem & Trädgård" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Historia & Arkeologi" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Humor & Presentböcker" /></a></li>


                                        </ul>
                                    </div>
                                    <div class="large-4 columns">
                                        <ul>

                                            <li><label>KATEGORIER K-S</label></li>

                                            <li><a href="#"><input type="submit" class="menuopt" value="Kokböcker" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Konst & Musik" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Litteraturvetenskap" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Medicin" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Naturvetenskap & Teknik" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Ordböcker & Språk" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Psykologi & Pedagogik" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Resor & Geografi" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Samhälle & Politik" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Serier & Grafiska romaner" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Skönlitteratur" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Sport & Fritid" /></a></li>
                                        </ul>
                                    </div>
                                    <div class="large-4 columns">
                                        <ul>


                                            <li><label>KATEGORIER S-U</label></li>




                                            <li><a href="#"><input type="submit" class="menuopt" value="Student" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Tonår & Unga vuxna" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Uppslagsverk" /></a></li>

                                            <li><label>FORMAT</label></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Inbunden" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="CD-skiva" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Häftad" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Danskt band" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Kartonnage" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Pocket" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="" /></a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="" /></a></li>
                                            <li><a href="#" style="height:14px"><input type="submit" class="menuopt" value="" /></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </li>
                            @Html.Hidden("search", "")
                        }
                        <li class="divider"></li>

                        @using (Ajax.BeginForm("Search", "Home",
                            new AjaxOptions { UpdateTargetId = "divList", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, new {@id = "sForm", @name = "sForm", @class = "search-field" }))
                        {

                            <li class="has-button search-field ">
                                <input type="submit" class="small button search-field" value="Search" />
                            </li>
                            <li class="search">

                                <input type="text" id="search" name="search" class="long" placeholder="Sök på titel, författare, format, ISBN, kategori eller språk ">

                            </li>
                        }


                    </ul>

                    <ul class="right">




                        <li class="has-dropdown not-click " id="cart">@Html.Partial("_CartWidgetView")</li>


                    </ul>
                </section>
    </nav>




        <div id="loadingDiv" loader>
            <img src="~/Content/spinner.gif" class="ajax-loader" />
        </div>

    


        <div class="container body-content">
            @RenderBody()


        </div>

        <footer class="row">
           
                <hr />
                <div class="row">
                    <div class="large-6 columns">
                        <p class="footer">©@DateTime.Now.Year - Book OnClick</p>
                    </div>
                    <div class="large-6 columns">
                       
                    </div>
                </div>
           
        </footer>




        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/foundation")
        @Scripts.Render("~/bundles/jqueryval")

        @RenderSection("scripts", required: false)

        <script src="~/Scripts/slider.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
          
                $("#sForm #search").autocomplete({
                    source: '@Url.Action("GetBookTitle")',
                    minLength: 2

                });
            });
        })
    </script>






</body>
</html>
