<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book On Click</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @{
        var cart = Session["Cart"] as BusinessLayer.ShoppingCartModel;

    }
    <div  class="logo">
        
        
            <a href="/Home/Index"><img src="~/Content/Images/logo small.png" /></a>
    
        
    </div>

    <nav class="top-bar custom " data-topbar>
      

                <ul class="title-area">

                    <li class="name">

                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                </ul>

                <section class="top-bar-section ">

                    <ul class="left">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Om Oss", "Contact", "Home")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                        <li class="divider"></li>
                        @using (Ajax.BeginForm("Search", "Home",
                            new AjaxOptions { UpdateTargetId = "divList", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }))
                        {




                            <li class="show-for-large-up">

                                <a href="#" data-dropdown="mega-menu-1" style="width:146px" data-options="is_hover:true">Välj kategori</a>
                                <div id="mega-menu-1" data-dropdown-content class="large f-dropdown content row">
                                    <div class="large-4 columns">
                                        <ul>
                                            <li><label>KATEGORIER A-G</label></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Barnböcker" /></a></li>
                                            <li><a href="#">Biografier & Memoarer</a></li>
                                            <li><a href="#">Datorer & IT</a></li>
                                            <li><a href="#">Deckare</a></li>
                                            <li><a href="#">Djur & Natur</a></li>
                                            <li><a href="#">Ekonomi & Juridik</a></li>
                                            <li><a href="#">Familj & Hälsa</a></li>
                                            <li><a href="#">Filosofi & Religion</a></li>
                                            <li><a href="#">Geografiska områden</a></li>


                                        </ul>
                                    </div>
                                    <div class="large-4 columns">
                                        <ul>

                                            <li><label>KATEGORIER H-O</label></li>
                                            <li><a href="#">Hem & Trädgård</a></li>
                                            <li><a href="#">Historia & Arkeologi</a></li>
                                            <li><a href="#">Humor & Presentböcker</a></li>
                                            <li><a href="#">Kokböcker</a></li>
                                            <li><a href="#">Konst & Musik</a></li>
                                            <li><a href="#">Litteraturvetenskap</a></li>
                                            <li><a href="#">Medicin</a></li>
                                            <li><a href="#">Naturvetenskap & Teknik</a></li>
                                            <li><a href="#">Ordböcker & Språk</a></li>


                                        </ul>
                                    </div>
                                    <div class="large-4 columns">
                                        <ul>


                                            <li><label>KATEGORIER P-Ö</label></li>
                                            <li><a href="#">Psykologi & Pedagogik</a></li>
                                            <li><a href="#">Resor & Geografi</a></li>
                                            <li><a href="#">Samhälle & Politik</a></li>
                                            <li><a href="#">Serier & Grafiska romaner</a></li>
                                            <li><a href="#"><input type="submit" class="menuopt" value="Skönlitteratur" /></a></li>

                                       <li><a href="#">Sport & Fritid</a></li>
                                        <li><a href="#">Student</a></li>
                                        <li><a href="#">Tonår & Unga vuxna</a></li>
                                        <li><a href="#">Uppslagsverk</a></li>
                                        <li class="divider"></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                            @Html.Hidden("search","")
                        }
                        <li class="divider" ></li>
                        
                      @using (Ajax.BeginForm("Search", "Home",
                            new AjaxOptions { UpdateTargetId = "divList", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }))
                      {

                        <li class="has-button" >
                            <input type="submit" class="small button" value="Search" />
                        </li>
                        <li class="search">
                          
                                <input type="text" id="search" name="search" class="long">
                            
                        </li>
                      }

                        <li class="divider"></li>
                    </ul>
                    <ul class="right">




                        <li class="has-dropdown not-click " id="cart">@Html.Partial("_CartWidgetView")</li>


                    </ul>
                </section>
    </nav>




        <div id="loadingDiv" loader>
            <img src="~/Content/spinner.gif" class="ajax-loader" />
        </div>

    


        <div class="container body-content">
            @RenderBody()


        </div>

        <footer class="row">
            <div class="large-12 columns">
                <hr />
                <div class="row">
                    <div class="large-6 columns">
                        <p class="footer">©@DateTime.Now.Year - Book OnClick</p>
                    </div>
                    <div class="large-6 columns">
                       
                    </div>
                </div>
            </div>
        </footer>




        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/foundation")
        @Scripts.Render("~/bundles/jqueryval")

        @RenderSection("scripts", required: false)

        <script src="~/Scripts/slider.js"></script>


</body>
</html>
