<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book OnClick - Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div  class="logo">
   <a href="/Home/Index"><img src="~/Content/Images/logo small.png" /></a>
    
        
    </div>

    <nav class="top-bar custom"  data-topbar>
        <ul class="title-area">

            <li class="name">
                
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
        
        <section class="top-bar-section ">

            <ul class="left">
                <li>@Html.ActionLink("Lägga till bok", "GetInfoFromAdlibris", "Admin")</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Ändra eller radera bok", "EditBookList", "Admin")</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Ändra eller radera order", "EditOrderList", "Admin")</li>
                <li class="divider"></li>
           
                </ul>
              
        </section>
    </nav>

    <div id="loadingDiv" loader>
        <img src="~/Content/spinner.gif" class="ajax-loader" />
    </div>



    <div class="container body-content">
        @RenderBody()


    </div>

    <footer class="row">

        <hr />
        <div class="row">
            <div class="large-6 columns">
                <p class="footer">©@DateTime.Now.Year - Book OnClick</p>
            </div>
            <div class="large-6 columns">

            </div>
        </div>

    </footer>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    @Scripts.Render("~/bundles/jqueryval")

    @RenderSection("scripts", required: false)

    <script src="~/Scripts/slider.js"></script>
 

</body>
</html>
