@model MVC.ViewModel.ShoppingCartViewModel

<div id="divList">
    <div class="row">
        <h2>Varukorg</h2>

        <div class="large-12 columns">

            <table style="width:100%">
                <thead>
                    <tr>

                        <th>
                            Vara
                        </th>

                        <th>
                            Antal
                        </th>
                        <th>
                            Pris
                        </th>
                        <th>
                            Delsumma
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model.Cart.Items)
                {
                    <tr>
                        <td>
                            @item.Book.Title
                            <div style="padding:5px">
                                @using (Ajax.BeginForm("RemoveFromCart", "ShoppingCart", null,
                new AjaxOptions { UpdateTargetId = "divList", OnSuccess = "reloadWidget" }, new { @id = "removeForm" }))
                                {

                                    @Html.Hidden("Id", item.Book.Id)
                                    @Html.HiddenFor(x => x.ReturnUrl)
                                    <button class="delete " type="submit"><i class="fa fa-times" style="margin:5px; "></i>Ta bort</button>
                                    @*<input type="submit" class="icon-remove-sign" />*@

                                }
                            </div>
                        </td>

                        <td style="width:20px; ">
                            @using (Ajax.BeginForm("EditQuantity", "ShoppingCart", null,
                new AjaxOptions { UpdateTargetId = "divList", OnSuccess = "reloadWidget" }, new { @id = "quantityForm" }))
                            {

                                if (item.IsNotInStock)
                                {
                                    <span>Tyvärr finns det bara @item.Book.QuantityInStock i lager</span>
                                    item.Quantity = item.Book.QuantityInStock;
                                    @Html.TextBox("quantity", item.Quantity, new { type = "number", min = "1" })
                                }
                                else
                                {
                                    @Html.TextBox("quantity", item.Quantity, new { type = "number", min = "1" })
                                }

                                @Html.Hidden("Id", item.Book.Id)
                                @Html.HiddenFor(x => x.ReturnUrl)

                                <input type="submit" class="small button" value="Uppdatera" />

                            }
                        </td>

                        <td>
                            @item.Book.Price.ToString("0.00")
                        </td>
                        <td>
                            @((item.Quantity * item.Book.Price).ToString("0.00"))
                        </td>
                    </tr>
                }
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">
                            Summa:
                        </td>
                        <td class="text-right">
                            @Model.Cart.GetCartTotal().ToString("0.00")
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="text-center">

                @if (@Model.Cart.TotalQuantity == 0)
                {
                    @Ajax.ActionLink("Fortsätt handla", "ReloadStartPage", "Home", null, new AjaxOptions { UpdateTargetId = "divList" }, new { @class = "button" })

    <button class="button" type="button" disabled>Gå till kassan</button>
                }
                else
                {

                    @Ajax.ActionLink("Fortsätt handla", "ReloadStartPage", "Home", null, new AjaxOptions { UpdateTargetId = "divList" }, new { @class = "button", style="margin-right:5px" })

                    @Ajax.ActionLink("Gå till kassan", "OrderDetails", "ShoppingCart", null, new AjaxOptions { UpdateTargetId = "divList" }, new { @class = "button" })
                }


            </div>
        </div>
    </div>
</div>